# Cleaning Strings

Use **Code** cells to write and run any code you need to answer the question and **Markdown** cells to write out answers in words. After you are finished with the assignment, remember to download it as an **HTML file** and submit it in **ELMS**.

In [1]:
from requests import get
import re

import numpy as np 
import pandas as pd

## String Data

String data and needing to clean up string data are very common in social science research. Whether it's coding open response questions in surveys or parsing social media posts, lots of data in the social sciences are text data, and it's important to understand how to deal with them. This is particularly true when using web scraping techniques. The data that you get from web scraping will generally at least start out as string data, which you can then transform into numerical variables as needed.

We've already discussed how to deal with individual strings a little bit. For example, recall that we can use f-strings to edit strings.

In [46]:
year = 2022
census_base_url = f'https://api.census.gov/data/{year}/acs/acs1/profile'
census_base_url

'https://api.census.gov/data/2022/acs/acs1/profile'

We can join strings together using the `+` operator.

In [96]:
'this is' + ' some text.'

'this is some text.'

If we have more than two strings that we want to join together, we can instead use the`join` method for strings. Note that this is a **string** method, and so you must use the form `<str>.join(<list>)`. The string is what the separating character will be.

In [47]:
text_list = ['this', 'is', 'some', 'text']

' '.join(text_list)

'this is some text'

In [48]:
'-'.join(text_list)

'this-is-some-text'

We can also use the `replace` method to replace any characters within the string with another character.

In [97]:
'This is some text.'.replace(' ', '-')

'This-is-some-text.'

<font color ='red'>**Question 1: Consider the `wiki_base_url` and `county_list` below. Using these, create a list of URLS that navigate to the corresponding county wikipedia page.**</font>

*Note:* The wikipedia page has the format: `https://en.wikipedia.org/wiki/<county_name>,_Maryland`, where any spaces in the county name are replaced by the underscore `_` character. So, for example, the link to Ann Arundel County should be https://en.wikipedia.org/wiki/Anne_Arundel_County,_Maryland.

In [98]:
wiki_base_url = 'https://en.wikipedia.org/wiki/'
county_list = ['Allegany', 'Anne Arundel', "Prince George's"]

### Some Useful String Methods

|Method|Description|
|-|-|
|`join`|Use string as delimiter for concatenating a sequence of other strings|
|`find`|Return position of first character of first occurrence of substring in the string; like index, but returns –1 if not found|
|`strip`|Trim whitespace, including newlines on both sides|
|`lower`|Convert alphabet characters to lowercase|
|`upper`|Convert alphabet characters to uppercase|

## Regular Expressions

A **regular expression, or regex**, is a sequence of characters that are used to match patterns within text. These can be extremely useful for searching and matching complicated string patterns. Regexes use specific rules and formatting guidelines to specify various patterns and are implemented in Python via the `re` package. Let's take a look at a quick example.

In [53]:
text = 'this is some text'
re.split(r"\s+", text)

['this', 'is', 'some', 'text']

The regular expression `\s+` refers to one of more whitespace characters. This uses `\s` as the regex formatting for a whitespace character, as well as the `+` to indicate one or more. Note that `\s` is used because `s` by itself would refer to the letter `s`. The backslash `\` is an escape character that allows Python to interpret it as a pattern that it is trying to match.

We could have done this without the `+` but that would try to separate on individual spaces instead. In the above example, there would be no difference, but if we were to add additional spaces, we'd see a big change.

In [56]:
text = 'this is some    text'
re.split(r"\s", text)

['this', 'is', 'some', '', '', '', 'text']

You can also first compile a regular expression, then use it multiple times.

In [100]:
regex = re.compile(r"\s+")
regex.split(text)

['this', 'is', 'some', 'text']

In [101]:
regex.split('some other  text')

['some', 'other', 'text']

### Regex methods

|Method|Description|
|-|-|
|`findall`|Return all nonoverlapping matching patterns in a string as a list|
|`match`|Match pattern at start of string and optionally segment pattern components into groups; if the pattern matches, return a match object, and otherwise None|
|`search`|Scan string for match to pattern, returning a match object if so; unlike match, the match can be anywhere in the string as opposed to only at the beginning|
|`split`|Break string into pieces at each occurrence of pattern|
|`sub`|Replace all occurrences of pattern in string with replacement expression|

### Working with regex

Unless you work with regular expressions frequently, it will be very hard to get good enough at regex to write it out on the fly. Most of the time, you only need regex occasionally for one or two tasks, and it can be hard to remember what all of the patterns and syntax are. **You do not need to try to memorize all of the regex syntax!** There are plenty of tools available to help you out whenever you need to come back to it. Understanding some of the basics should help you get started, and you can use existing cheatsheets as well as online regex builder tools to do the rest. 

Regex 101 (https://regex101.com) is a website that helps you build your regexes. This website allows you to paste in the text you want to search, as well as type in a regex that you want to build. The text selected by the regex will be highlighted as you go, helping you build the exact regex that you need to get what you want.

### Regex Cheatsheet

Feel free to download this cheatsheet to more easily read it. This is also available on the course Canvas website.

![Regex Cheatsheet](Regular_Expressions_Cheat_Sheet.pdf)

## Strings in DataFrames

Many times, we'll have to work with strings that are in DataFrames. These are a bit trickier than individual strings, because we want to be efficient about how we do this. Luckily for us, the creators of the pandas DataFrames recognized that string manipulation would be fairly common and included tools to help make it easier.

Let's start by looking at the Pulse of the Nation dataset.

In [2]:
data_file = '201807-CAH_PulseOfTheNation_Raw.csv'
df = pd.read_csv(data_file)
df.head()

,gender,age,age_range,political_party,rep_change,dem_change,political_leaning,education,race,race_other,...,stereotypes,respect_for_authority,handout,climate_change,epa,biz_regulations,nuclear_emissions,voter_turnout_help,american_heartland,south_racist
0,Female,55,55-64,Independent,NaN,NaN,Moderate,Some college,White,NaN,...,Yes,Strongly Agree,Strongly Disagree,Well-informed,No,Yes,Yes,Help Democrats more,Yes,Yes
1,Female,34,25-34,Strong Democrat,NaN,No,Strong Liberal,Graduate degree,White,NaN,...,Yes,Strongly Disagree,Strongly Disagree,Well-informed,No,No,Yes,Help Democrats more,No,DK/REF
2,Male,49,45-54,DK/REF,NaN,NaN,Moderate,College degree,White,NaN,...,DK/REF,Strongly Agree,Somewhat Agree,Well-informed,No,No,Yes,DK/REF,Yes,No
3,Male,41,35-44,Independent,NaN,NaN,Strong Conservative,High school or less,White,NaN,...,Yes,Strongly Agree,Strongly Agree,Not Very Well-informed,Yes,Yes,DK/REF,Make no Difference,Yes,No
4,Female,65,65+,Independent,NaN,NaN,Moderate,Graduate degree,White,NaN,...,Yes,Somewhat Disagree,Somewhat Disagree,Well-informed,No,No,Yes,Help Democrats more,Yes,Yes

This is a relatively clean dataset, with the categories already mostly standardized. However, we might want to still do some additional cleaning or adjusting of the categories. Let's take a look at the `political_party` variable.

In [14]:
df.political_party.value_counts()

Independent                   256
Strong Democrat               200
Strong Republican             183
DK/REF                         80
Not Very strong Democrat       44
Not very Strong Republican     37
Name: political_party, dtype: int64

It looks like the respondent could answer on a scale of how strong their political affiliation was. This can be useful for separating out people who might be swayed one way or another. However, you might also want to do analysis just comparing Democrats and Republicans. To do this, we might want to isolate out everyone who responded as some level of "Democrat" or "Republican". 

We could do this with multiple `==` combined with `|`, but that would be a bit tedious (especially with other datasets where there might be more than two categories that we want to combine). Instead, we can use string manipulation with pandas.

In [15]:
df.political_party.str.contains('Democrat')

0      False
1       True
2      False
3      False
4      False
       ...
795    False
796     True
797     True
798    False
799    False
Name: political_party, Length: 800, dtype: bool

`str.contains` returns a `True` if the string contains the pattern given as its argument and `False` otherwise. So, in order to get all Democrats, we can use this to subset our data.

In [11]:
df[df.political_party.str.contains('Democrat')].head()

,gender,age,age_range,political_party,rep_change,dem_change,political_leaning,education,race,race_other,...,stereotypes,respect_for_authority,handout,climate_change,epa,biz_regulations,nuclear_emissions,voter_turnout_help,american_heartland,south_racist
1,Female,34,25-34,Strong Democrat,NaN,No,Strong Liberal,Graduate degree,White,NaN,...,Yes,Strongly Disagree,Strongly Disagree,Well-informed,No,No,Yes,Help Democrats more,No,DK/REF
9,Female,44,35-44,Not Very strong Democrat,NaN,No,Not Very Strong Liberal,College degree,White,NaN,...,Yes,Somewhat Disagree,Somewhat Disagree,Not Very Well-informed,No,DK/REF,Yes,Help Democrats more,DK/REF,DK/REF
13,Male,22,18-24,Not Very strong Democrat,NaN,No,Moderate,Some college,White,NaN,...,Yes,Somewhat Agree,Strongly Agree,Well-informed,No,Yes,No,Make no Difference,Yes,No
14,Male,67,65+,Strong Democrat,NaN,No,Moderate,High school or less,White,NaN,...,No,Strongly Agree,Strongly Agree,Well-informed,Yes,Yes,No,Help Democrats more,Yes,Yes
16,Male,74,65+,Not Very strong Democrat,NaN,DK/REF,Moderate,Graduate degree,White,NaN,...,Yes,Strongly Agree,Somewhat Disagree,Well-informed,No,No,No,Help Democrats more,Yes,No

In general, using `str.contains` is part of using DataFrame string methods. This was created because string data are extremely common, and so having a way of dealing with each string within a pandas Series is very helpful. Using `.str` with a pandas Series allows us to work with the strings individually instead of having to use `apply` or list comprehension or other types of loops.

In [49]:
df.political_party.str

<font color ='red'>**Question 3: What is the average age among people who identified as liberal as their political leaning? What is the average age among conservatives?**</font>

## More String Manipulation

Let's take another look at the `political_party` variable.

In [20]:
df.political_party.value_counts()

Independent                   256
Strong Democrat               200
Strong Republican             183
DK/REF                         80
Not Very strong Democrat       44
Not very Strong Republican     37
Name: political_party, dtype: int64

Notice that there is some inconsistent capitalization. The "v" in "very" is capitalized for one category but not for another. This is ok in this case, since every case is the same, but it could sometimes lead to issues, because capitalization might cause categories to be not grouped together. For example, this is the case with the `race_other` variable.

In [21]:
df.race_other.value_counts()

Native American        2
Mixed                  2
Hispanic               1
Pacific Islander       1
Mixed race             1
mixed race             1
BRITISH - CAUCASIAN    1
American Indian        1
American-Indian        1
Europian               1
Name: race_other, dtype: int64

The responses for `Mixed race` and `mixed race` are not grouped together because they have inconsistent capitalization. 

In order to deal with this, one common method is to just lowercase or uppercase everything. That way, we know that there aren't any issues with capitalization.

In [19]:
df.political_party.str.lower()

0          independent
1      strong democrat
2               dk/ref
3          independent
4          independent
            ...
795        independent
796    strong democrat
797    strong democrat
798        independent
799             dk/ref
Name: political_party, Length: 800, dtype: object

In [23]:
df.race_other.str.upper().value_counts()

NATIVE AMERICAN        2
MIXED                  2
MIXED RACE             2
HISPANIC               1
PACIFIC ISLANDER       1
BRITISH - CAUCASIAN    1
AMERICAN INDIAN        1
AMERICAN-INDIAN        1
EUROPIAN               1
Name: race_other, dtype: int64

<font color ='red'>**Question 4: Create a subset of `df` that contains only the people who identified as not very strong Democrat or Republican.**</font>

### Examples with ACS Data

Let's look at some simple data from the Census API to get another example of something we might want to do with string variables.

In [24]:
with open('census-key.txt', 'r') as f:
    census_key = f.readline()

census_base_url = 'https://api.census.gov/data/2022/acs/acs1/profile'

census_params = {'get':'NAME,DP03_0087E',
                 'for':'county:*',
                 'key':census_key}

r = get(census_base_url, params = census_params)
r.status_code

200

In [25]:
counties = r.json()
counties[:3]

[['NAME', 'DP03_0087E', 'state', 'county'],
 ['Baldwin County, Alabama', '110518', '01', '003'],
 ['Calhoun County, Alabama', '81886', '01', '015']]

In [26]:
# Get the data into dictionary format
keys = ['county', 'mean_income']
county_dict = {key:[county[keys.index(key)] for county in counties[1:]] for key in keys}

We've brought in just two variables: the county and the mean income for that county. If we look at a few rows of the dataset, we can see that the county includes the full county name in addition to the state.

In [102]:
# Make a DataFrame
county_df = pd.DataFrame(county_dict)

# Change columns that are numeric to numeric
county_df[keys[1]] = county_df[keys[1]].apply(pd.to_numeric)
county_df.head()

                    county  mean_income
0  Baldwin County, Alabama       110518
1  Calhoun County, Alabama        81886
2  Cullman County, Alabama        90641
3   DeKalb County, Alabama        73125
4   Elmore County, Alabama        94754

Suppose we wanted to get the county name and state name separated from this dataset (we could have gotten this separately from the API, but let's say we are starting with this dataset). We want to split on the comma character `,` so that we have two pieces: the county name and the state name.

In [105]:
county_df.county[0].split(',')

['Baldwin County', ' Alabama']

We can use `.str` to apply this to the all rows of the `county`  variable.

In [106]:
county_df.county.str.split(',')

0                   [Baldwin County,  Alabama]
1                   [Calhoun County,  Alabama]
2                   [Cullman County,  Alabama]
3                    [DeKalb County,  Alabama]
4                    [Elmore County,  Alabama]
                        ...
843            [Ponce Municipio,  Puerto Rico]
844         [San Juan Municipio,  Puerto Rico]
845         [Toa Alta Municipio,  Puerto Rico]
846         [Toa Baja Municipio,  Puerto Rico]
847    [Trujillo Alto Municipio,  Puerto Rico]
Name: county, Length: 848, dtype: object

This is a bit awkward, though, since we don't want a Series of lists -- we want two columns to add to the DataFrame. Using `expand = True` will give us what we want.

In [108]:
county_df.county.str.split(',', expand = True)

                           0             1
0             Baldwin County       Alabama
1             Calhoun County       Alabama
2             Cullman County       Alabama
3              DeKalb County       Alabama
4              Elmore County       Alabama
..                       ...           ...
843          Ponce Municipio   Puerto Rico
844       San Juan Municipio   Puerto Rico
845       Toa Alta Municipio   Puerto Rico
846       Toa Baja Municipio   Puerto Rico
847  Trujillo Alto Municipio   Puerto Rico

[848 rows x 2 columns]

We can then rename the columns using a dictionary to get the split county and state name data.

In [40]:
split_county = county_df.county.str.split(',', expand = True).rename(columns = {0:'County', 1:'State'})

In [62]:
split_county.head()

           County     State
0  Baldwin County   Alabama
1  Calhoun County   Alabama
2  Cullman County   Alabama
3   DeKalb County   Alabama
4   Elmore County   Alabama

Finally, we'll merge with the initial DataFrame **on the index** so that we add back in the variables that we had before (just the mean income in this case). Note that this works because we didn't do any subsetting or any other manipulation on the rows and the indices remained the same.

In [111]:
split_county_df = split_county.merge(county_df, left_index = True, right_index = True).drop('county', axis = 1)
split_county_df.head()

           County     State  mean_income
0  Baldwin County   Alabama       110518
1  Calhoun County   Alabama        81886
2  Cullman County   Alabama        90641
3   DeKalb County   Alabama        73125
4   Elmore County   Alabama        94754

<font color ='red'>**Question 5: Construct urls for the wikipedia page for each county in this dataset and add that as a column called `wiki_url` to `split_column_df`.**</font>

*Hint:* It might be easier to work with the original data without the split County and State names to begin with.

### Using regex with DataFrames

Suppose we wanted to remove the "County" at the end of each county name because it is redundant. We could do a simple `replace` to remove all instances of `County`, but note that there are also `Municipio`s at the end of the ones in Puerto Rico.

In [120]:
split_county_df.tail()

                      County         State  mean_income
843          Ponce Municipio   Puerto Rico        31269
844       San Juan Municipio   Puerto Rico        69733
845       Toa Alta Municipio   Puerto Rico        56730
846       Toa Baja Municipio   Puerto Rico        45221
847  Trujillo Alto Municipio   Puerto Rico        60175

To get all of these in one go, we can use regular expressions with the `str.replace` method. First, we build a regex object that contains all instances of a space followed by either "County" or "Municipio". Then, we use `str.replace` to remove them.

In [121]:
regex = re.compile(r'\s(County|Municipio)')
regex.sub('',split_county.County[0])

'Baldwin'

<font color ='red'>**Question 6: Using the `regex` object above, change the `County` variable by removing any instances of the word "County" or "Municipio".**</font>

*Note:* Add an argument `regex = True` in the `replace` method. This explicitly states that you are using a regex.