# Assignment 1: Working with Data

This assignment covers **Chapters 1-4** from the [textbook](https://wesmckinney.com/book/) as well as lecture material from Weeks 1-3. Please complete this assignment by providing answers in cells after the question. Use **Code** cells to write and run any code you need to answer the question and **Markdown** cells to write out answers in words. After you are finished with the assignment, remember to download it as an **HTML file** and submit it in **ELMS**.

In [6]:
import numpy as np
import pandas as pd

### Question 1. Working with Sequences

Answer the following questions by explaining the process, then show an example to show how it might be done. Create a list/array with a few numbers to demonstrate it.

In [28]:
# example data for the following questions: 
my_list = [0, 1, 1, 2, 3, 5, 8, 13]

**a)** What would be a way to multiply each number in a **list** by 10 and get the output as a list?

In [29]:
# using a loop
output = []
for i in my_list:
    output.append(i * 10) 

output

[0, 10, 10, 20, 30, 50, 80, 130]

In [30]:
# using list comprehension

output = [i * 10 for i in my_list]
output

[0, 10, 10, 20, 30, 50, 80, 130]

**b)** What would be a way to multiply each number in an **array** by 10 and get the output as a list?

In [31]:
# convert the list to a numpy array
myrange_array = np.array(my_list)
# numpy expressions are already vectorized, so you don't need a loop:
output = myrange_array * 10

# now convert it back to a list object: 
output.tolist()

[0, 10, 10, 20, 30, 50, 80, 130]

**c)** What would be a way to multiply each number in an **array** by 10 and get the output as an array?

In [148]:
myrange_array = np.array(my_list)
output = myrange_array * 10

output

# alternatively, you could use: 
# output=np.multiply(my_list, 10)

array([  0,  10,  10,  20,  30,  50,  80, 130])

### Question 2. World Population

**a)** You should have a CSV file called `world_population.csv` in the folder that this notebook is in. Create a list called `pop` that contains the values within `world_population.csv`. The values within `pop` should be integers.

*Hint:* You can use the `int` function to convert individual strings into integers.

In [39]:
import csv # library for reading csv data
pop =[] # an empty list to hold results
with open('world_population.csv', 'r') as file: 
    reader = csv.reader(file)
    #Read the column 
    for row in reader:
        value = row[0] # get the first column 
        
        pop.append(int(value)) # convert to integer and append

print(pop)

[2557628654, 2594939877, 2636772306, 2682053389, 2730228104, 2782098943, 2835299673, 2891349717, 2948137248, 3000716593, 3043001508, 3083966929, 3140093217, 3209827882, 3281201306, 3350425793, 3420677923, 3490333715, 3562313822, 3637159050, 3712697742, 3790326948, 3866568653, 3942096442, 4016608813, 4089083233, 4160185010, 4232084578, 4304105753, 4379013942, 4451362735, 4534410125, 4614566561, 4695736743, 4774569391, 4856462699, 4940571232, 5027200492, 5114557167, 5201440110, 5288955934, 5371585922, 5456136278, 5538268316, 5618682132, 5699202985, 5779440593, 5857972543, 5935213248, 6012074922, 6088571383, 6165219247, 6242016348, 6318590956, 6395699509, 6473044732, 6551263534, 6629913759, 6709049780, 6788214394, 6866332358, 6944055583, 7022349283, 7101027895, 7178722893, 7256490011]

In [145]:
# Alternatively, you could use a list comprehension
def mean_and_std(x):
    mean_and_std_array = np.array(x)
    mean_pop = np.mean(mean_and_std_array)
    std_pop = np.std(mean_and_std_array)
    return mean_pop, std_pop

print("Mean population:", mean_pop)
print("Standard deviation of the population:", std_pop)print(pop)

[2557628654, 2594939877, 2636772306, 2682053389, 2730228104, 2782098943, 2835299673, 2891349717, 2948137248, 3000716593, 3043001508, 3083966929, 3140093217, 3209827882, 3281201306, 3350425793, 3420677923, 3490333715, 3562313822, 3637159050, 3712697742, 3790326948, 3866568653, 3942096442, 4016608813, 4089083233, 4160185010, 4232084578, 4304105753, 4379013942, 4451362735, 4534410125, 4614566561, 4695736743, 4774569391, 4856462699, 4940571232, 5027200492, 5114557167, 5201440110, 5288955934, 5371585922, 5456136278, 5538268316, 5618682132, 5699202985, 5779440593, 5857972543, 5935213248, 6012074922, 6088571383, 6165219247, 6242016348, 6318590956, 6395699509, 6473044732, 6551263534, 6629913759, 6709049780, 6788214394, 6866332358, 6944055583, 7022349283, 7101027895, 7178722893, 7256490011]

You could also use pandas here to create a data frame. The only quirk is that pandas assumes the first row of a csv file should have the column names. We can override this behavior by giving a list of new column names as an additional argument to `pd.read_csv()`

In [51]:
popdf = pd.read_csv('world_population.csv', names=['population'])
popdf.head()

   population
0  2557628654
1  2594939877
2  2636772306
3  2682053389
4  2730228104

**b)** Using list comprehension, find the world population in billions of people. For example, the first value should be `2.557628654`. The output should be a list.

In [ ]:
# 1e9 is scientific notation, so its equivalent to writing 1000000000
[i/1e9 for i in pop]

**c)** Find the world population in billions of people again, this time by first converting the list into an array. The output should also be an array.

In [57]:
poparray = np.array(pop)

poparray/1e9

array([2.55762865, 2.59493988, 2.63677231, 2.68205339, 2.7302281 ,
       2.78209894, 2.83529967, 2.89134972, 2.94813725, 3.00071659,
       3.04300151, 3.08396693, 3.14009322, 3.20982788, 3.28120131,
       3.35042579, 3.42067792, 3.49033371, 3.56231382, 3.63715905,
       3.71269774, 3.79032695, 3.86656865, 3.94209644, 4.01660881,
       4.08908323, 4.16018501, 4.23208458, 4.30410575, 4.37901394,
       4.45136274, 4.53441012, 4.61456656, 4.69573674, 4.77456939,
       4.8564627 , 4.94057123, 5.02720049, 5.11455717, 5.20144011,
       5.28895593, 5.37158592, 5.45613628, 5.53826832, 5.61868213,
       5.69920299, 5.77944059, 5.85797254, 5.93521325, 6.01207492,
       6.08857138, 6.16521925, 6.24201635, 6.31859096, 6.39569951,
       6.47304473, 6.55126353, 6.62991376, 6.70904978, 6.78821439,
       6.86633236, 6.94405558, 7.02234928, 7.10102789, 7.17872289,
       7.25649001])

### Question 3. Functions

Write a function called `mean_and_sd` that takes in a sequence of numbers and outputs two values: the mean and the standard deviation of that sequence of numbers. Make sure that it works with all of the following: lists, tuples, arrays, and Series.

Use this function to find the mean and standard deviation of the world populations from Question 2.

*Hint:* There are multiple ways to get the mean and the standard deviation. Some types of objects have methods that can do this!

In [113]:
# using Numpy functions
def np_mean_and_sd(numbers):
    mu = np.mean(numbers)
    sigma = np.std(numbers)
    return mu, sigma

In [70]:
np_mean_and_sd(pop) # test on a list

(4740454069.030303, 1436253511.3637478)

In [71]:
np_mean_and_sd(tuple(pop)) # test on a tuple

(4740454069.030303, 1436253511.3637478)

In [72]:
np_mean_and_sd(np.array(pop)) # test on an array

(4740454069.030303, 1436253511.3637478)

In [73]:
np_mean_and_sd(pd.Series(pop)) # test on a series

(4740454069.030303, 1436253511.3637478)

In [112]:
# using pandas
def pandas_mean_and_sd(numbers):
    number_series = pd.Series(numbers)
    mu = number_series.mean()
    sigma = number_series.std()
    return mu, sigma

In [86]:
pandas_mean_and_sd(pop)

(4740454069.030303, 1447259446.3473682)

In [101]:
# using python only (this is comparatively slower for large lists, but maybe faster for short ones)
def py_mean_and_sd(numbers):
    
    mu = sum(numbers)/len(numbers)
    # get sum of squared deviations
    ssd= sum([(i-mu)**2 for i in numbers])
    sigma = (ssd /(len(numbers)-1)  ) **.5       
               
    return mu, sigma

py_mean_and_sd(pop) # test on a list

(4740454069.030303, 1447259446.3473682)

In [155]:
popdf = pd.read_csv('world_population.csv', names=['population'])

    population
0     2.557629
1     2.594940
2     2.636772
3     2.682053
4     2.730228
..         ...
61    6.944056
62    7.022349
63    7.101028
64    7.178723
65    7.256490

[66 rows x 1 columns]